<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/nav.ejs") %>


    <div class="m-4 p-4 text-center" id="mainPage">
        <h2>Welcome to my Hw3: Express App</h2>
        
        <p>Explore the biggest hits and famous faces of the 2000s! 
       Search for your favorite movies or actors, and view details powered by 
       The Movie Database (TMDB) and classic movie quotes.</p>
        <hr>

        <form class="mb-2" action="/movies/search" method="GET">
            <input type="text" name="q" placeholder="Search for a movie..." required>
            <button type="submit">Search Movies</button>
        </form>

        <form class="mb-2" action="/people/search" method="GET">
            <input type="text" name="q" placeholder="Search for an actor..." required>
            <button type="submit">Search People</button>
        </form>

        <h3>Popular Movies from <%= year %></h3>
        <div id="movieGrid">
            <% for(let movie of movies) { %>
                <div class="movieCard">
                    <img src="https://image.tmdb.org/t/p/w342<%= movie.poster_path%>" alt="<%= movie.title%>">
                    <h4><%= movie.title%></h4>
                    <p>⭐ <%= movie.vote_average %>/10</p>
                </div>
            <% } %>
        </div>
        
    </div>

</body>
</html>